<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.chajed.unproxy</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>574437B3-A2CB-4FFC-8C76-944A6BA99C87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D635B21-1BE7-45A5-890F-23BED4AC9C49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D635B21-1BE7-45A5-890F-23BED4AC9C49</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Tej Chajed</string>
	<key>description</key>
	<string>Remove library/ezproxy from a clipboard URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>unproxy clipboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unproxy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>unproxy clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>574437B3-A2CB-4FFC-8C76-944A6BA99C87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Users/tchajed/code/dotfiles/unproxy --clipboard</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D635B21-1BE7-45A5-890F-23BED4AC9C49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>574437B3-A2CB-4FFC-8C76-944A6BA99C87</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>8D635B21-1BE7-45A5-890F-23BED4AC9C49</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
